---
import { Image } from 'astro:assets';

import doctorCrop from '../assets/doctor-crop.jpg';
import acupunctureShoulder from '../assets/acupuncture-shoulder.jpg';
import leechesTopdown from '../assets/leeches_topdown.jpg';
import whatsappIcon from '../assets/whatsapp-icon.svg';
import telegramIcon from '../assets/telegram-icon.svg';

import Layout from '../layouts/Layout.astro';
import Main from '../layouts/Main.astro';
import Section from '../components/Section.astro';
import SectionHeader from '../components/SectionHeader.astro';
import SectionBlock from '../components/SectionBlock.astro';
import SectionBlockHeader from '../components/SectionBlockHeader.astro';
import YandexMap from '../components/YandexMap.astro';

import LicensesList from '../features/LicensesList.astro';
---

<Layout title="Клиника Гирудотерапии">
    <Main>
        <Section>
            <SectionBlock>
                <SectionHeader>О нас</SectionHeader>
                <p class="text-center">
                    Добро пожаловать в <b>
                        Клинику <span class="whitespace-nowrap">
                            Гирудотерапии и Рефлексотерапии
                        </span>
                    </b> – ваш путь к заботе о здоровье с использованием
                    безопасных и эффективных методов лечения.
                </p>
                <p class="text-center">
                    Мы используем <a class="link inline-block" href="#лицензии">
                        сертифицированные
                    </a> и одноразовые пиявки и иглы.
                </p>
                <p class="text-center">
                    Деятельность нашей клиники <span class="whitespace-nowrap"><a
                        class="link inline-block"
                        href="#лицензии"
                    >
                        лицензирована
                    </a>.</span>
                </p>
            </SectionBlock>
        </Section>
        <Section>
            <Image
                src={doctorCrop}
                alt="доктор"
                class="mx-auto aspect-square max-w-[min(100%,20rem)] rounded-full object-cover pb-4"
                loading="eager"
            />
            <SectionHeader>Чистякова Ольга Николаевна</SectionHeader>
            <p class="text-center">
                Врач гирудотерапевт, рефлексотерапевт с медицинским стажем более
                35 лет.
            </p>
            <p class="text-center">
                Ольга Николаевна обладает уникальным сочетанием богатейшего
                опыта работы участковым терапевтом (более 20 лет),
                гирудотерапевтом (более 25 лет) и обширными знаниями и практикой
                в Традиционной китайской медицине (более 25 лет), что позволяет
                правильно поставить диагноз, выбрать и применить нужные
                системные методики лечения, добиться желаемого результата.
            </p>
        </Section>
        <Section>
            <SectionBlock>
                <SectionHeader>Адрес и часы приема</SectionHeader>
                <div class="text-center">
                    <span class="whitespace-nowrap">Московская обл.</span>,
                    <span class="whitespace-nowrap">г. Дубна</span>,
                    <span class="whitespace-nowrap">пр-т Боголюбова</span>, д.39
                    (вход со двора)
                </div>
            </SectionBlock>

            <SectionBlock>
                <div class="text-center">Вторник, Четверг 13-19</div>
                <div class="text-center">Суббота 10-14</div>
            </SectionBlock>

            <SectionBlock>
                <a href="tel:+79037755656" class="link block text-center">
                    +7(903)775-56-56
                </a>
                <a href="tel:+74962190224" class="link block text-center">
                    +7(496)219-02-24
                </a>
                <a
                    href="https://wa.me/79154806515"
                    class="link flex items-center justify-center text-center"
                >
                    <div class="relative mr-1 h-6 w-0">
                        <Image
                            src={whatsappIcon}
                            alt="иконка whatsapp"
                            width={32}
                            height={32}
                            class="absolute right-0 top-0 h-6 w-6 max-w-[32px]"
                        />
                    </div>
                     Написать в Whatsapp
                </a>
                <a
                    href="https://t.me/+79037755656"
                    class="link flex items-center justify-center text-center"
                >
                    <div class="relative mr-1 h-6 w-0">
                        <Image
                            src={telegramIcon}
                            alt="иконка telegram"
                            width={32}
                            height={32}
                            class="absolute right-0 top-0 h-6 w-6 max-w-[24px]"
                        />
                    </div>
                     Написать в Telegram
                </a>
            </SectionBlock>
        </Section>
        <Section class="bg-base-100" fullWidth fullHeight>
            <YandexMap />
        </Section>
        <Section>
            <SectionHeader>Иглорефлексотерапия</SectionHeader>
            <p class="text-center">
                Иглорефлексотерапия - безопасный и эффективный немедикаментозный
                способ лечения большинства болезненных состояний
            </p>
        </Section>
        <Section>
            <SectionBlockHeader>Показания</SectionBlockHeader>
            <p class="text-center">
                Иглорефлексотерапия применяется для лечения широкого спектра
                заболеваний, например:
            </p>
            <ul class="list-disc pl-8">
                <li>патологии опорно-двигательного аппарата</li>
                <li>нарушения в работе нервной системы</li>
                <li>сердечно-сосудистые нарушения</li>
                <li>проблемы органов дыхания</li>
                <li>заболевания ЖКТ</li>
                <li>проблемы печени</li>
                <li>заболевания поджелудочной железы</li>
                <li>никотиновая зависимость</li>
                <li>лишний вес</li>
            </ul>
        </Section>
        <Section class="image-only" fullWidth fullHeight>
            <Image
                src={acupunctureShoulder}
                height={700}
                alt="иглы лол"
                class="mx-auto max-h-[700px] object-contain"
            />
        </Section>
        <Section>
            <SectionHeader>Бросить курить</SectionHeader>
            <p class="text-center">
                Эффективный метод избавления от никотиновой зависимости с помощью иглорефлексотерапии. 
                Уникальная методика позволяет бросить курить за один сеанс без стресса и мучений.
            </p>
        </Section>
        <Section>
            <SectionBlockHeader>Как работает метод</SectionBlockHeader>
            <p class="text-center">
                Иглоукалывание воздействует на специальные точки, отвечающие за никотиновую зависимость. 
                Процедура блокирует тягу к курению на физиологическом уровне, устраняет абстинентный синдром 
                и помогает справиться с психологической зависимостью.
            </p>
        </Section>
        <Section>
            <SectionBlockHeader>Преимущества нашего метода</SectionBlockHeader>
            <ul class="list-disc pl-8">
                <li>Высокая эффективность - более 85% успешных случаев</li>
                <li>Безопасность - никаких побочных эффектов</li>
                <li>Быстрый результат - достаточно одного сеанса</li>
                <li>Отсутствие ломки и стресса</li>
                <li>Индивидуальный подход к каждому пациенту</li>
                <li>Опыт врача более 25 лет в области рефлексотерапии</li>
            </ul>
        </Section>
        <Section>
            <SectionHeader>Снижение веса</SectionHeader>
            <p class="text-center">
                Эффективная программа снижения веса с помощью иглорефлексотерапии. 
                Методика воздействует на центры голода и насыщения, нормализует обмен веществ 
                и помогает достичь стабильного результата.
            </p>
        </Section>
        <Section>
            <SectionBlockHeader>Как работает программа снижения веса</SectionBlockHeader>
            <ul class="list-disc pl-8">
                <li>Подавление чувства голода естественным путем</li>
                <li>Ускорение обмена веществ</li>
                <li>Нормализация работы эндокринной системы</li>
                <li>Улучшение пищеварения</li>
                <li>Снижение тяги к сладкому и мучному</li>
                <li>Стабилизация эмоционального состояния</li>
            </ul>
        </Section>
        <Section>
            <SectionBlockHeader>Результаты программы</SectionBlockHeader>
            <p class="text-center">
                Пациенты отмечают снижение веса от 3 до 8 кг в месяц без строгих диет и изнурительных тренировок. 
                Результат сохраняется длительное время благодаря нормализации обменных процессов в организме.
            </p>
        </Section>
        <Section>
            <SectionHeader>Гирудотерапия</SectionHeader>
            <p class="text-center">
                Гирудотерапия - эффективный метод лечения пиявками, решающий местные и глобальные
                проблемы организма
            </p>
        </Section>
        <Section>
            <SectionBlockHeader>В каких случаях помогает гирудотерапия</SectionBlockHeader>
            <p class="text-center">
                Гирудотерапия особенно эффективна при следующих состояниях:
            </p>
            <ul class="list-disc pl-8">
                <li>заболеваниях сосудов и вен (варикоз, тромбоз, тромбофлебит)</li>
                <li>сердечно-сосудистых нарушениях</li>
                <li>заболеваниях суставов и позвоночника</li>
                <li>гинекологических проблемах</li>
                <li>косметологических задачах (омоложение, подтяжка лица)</li>
            </ul>
        </Section>
        <Section>
            <SectionBlockHeader>Древневосточный метод</SectionBlockHeader>
            <p class="text-center">
                Пиявки применялись в лечебных целях еще за тысячу лет до
                рождества Христова. Первое упоминание датируется 1550 годом до
                нашей эры - в Древнем Египте. Сегодня во всем мире наблюдается
                новый всплеск интереса к лечению пиявками. Это признак разумного
                и бережного отношения человека к своему здоровью.
            </p>
        </Section>
        <Section>
            <SectionBlockHeader>Рефлекторное действие</SectionBlockHeader>
            <p class="text-center">
                Пиявка прокусывает кожу в рефлексогенных точках (т.е. точки
                иглоукалывания, акупунктуры). Прокусывая кожу в этих точках,
                пиявка исполняет роль иглы, применяемой в традиционной китайской
                иглорефлексотерапии.
            </p>
        </Section>
        <Section>
            <SectionBlockHeader>Механическое действие</SectionBlockHeader>
            <p class="text-center">
                Пиявки освобождают организм от застоявшейся крови. И тем самым
                пиявки восстанавливают кровообращение в области пораженного
                органа.
            </p>
        </Section>
        <Section>
            <SectionBlockHeader>Биологическое действие</SectionBlockHeader>
            <p class="text-center">
                Самое ценное свойство пиявок, делающее их поистине незаменимыми.
                Пиявки выбрасывают в кровоток свою слюну, содержащую более 100
                разнообразных биологически активных веществ (природных
                лекарственных веществ), мягкое действие которых приводит к
                нормализации работы человеческого организма.
            </p>
        </Section>
        <Section class="image-only" fullWidth fullHeight>
            <Image
                src={leechesTopdown}
                height={700}
                alt="пиявки"
                class="mx-auto max-h-[700px] object-contain"
            />
        </Section>
        <Section>
            <SectionBlockHeader>Цены</SectionBlockHeader>
            <table class="table table-zebra">
                <tbody>
                    <tr>
                        <td>Консультация специалиста</td>
                        <td>1500 руб.</td>
                    </tr>
                    <tr>
                        <th>Гирудотерапия</th>
                    </tr>
                    <tr>
                        <td>Сеанс гирудотерапии</td>
                        <td>1500 руб. + 300 руб. за каждую пиявку</td>
                    </tr>
                    <tr>
                        <td>Омоложение лица</td>
                        <td>1800 руб. + 300 руб. за каждую пиявку</td>
                    </tr>

                    <tr>
                        <th>Рефлексотерапия</th>
                    </tr>
                    <tr>
                        <td>Антитабак</td>
                        <td>4500 руб.</td>
                    </tr>
                    <tr>
                        <td>Сеанс иглоукалывания</td>
                        <td>3000 руб.</td>
                    </tr>
                    <tr>
                        <td>Омоложение и подтяжка лица</td>
                        <td>3000 руб.</td>
                    </tr>
                    <tr>
                        <td>Снижение веса</td>
                        <td>5500 руб. (4500 руб. повторный)</td>
                    </tr>
                </tbody>
            </table>
        </Section>
        <Section class="flex py-6">
            <a
                href="tel:+79037755656"
                class="btn btn-primary mx-auto my-0 text-center"
            >
                Записаться на приeм
            </a>
        </Section>
        <Section id="лицензии">
            <SectionBlockHeader>Сертификаты и лицензии</SectionBlockHeader>
            <LicensesList />
        </Section>
    </Main>

    <!-- TODO: enable as experiment
    <a
        href="tel:+79037755656"
        class="fadeIn fixed bottom-4 right-4 mx-auto my-0 inline-flex h-14 w-14 items-center justify-center rounded-full border-0 bg-[#41b93c] text-center hover:bg-[#31c62b]"
    >
        <svg
            class="h-[32px] w-[32px]"
            focusable="false"
            aria-hidden="true"
            viewBox="0 0 24 24"
            fill="white"
        >
            <path
                d="M20.01 15.38c-1.23 0-2.42-.2-3.53-.56-.35-.12-.74-.03-1.01.24l-1.57 1.97c-2.83-1.35-5.48-3.9-6.89-6.83l1.95-1.66c.27-.28.35-.67.24-1.02-.37-1.11-.56-2.3-.56-3.53 0-.54-.45-.99-.99-.99H4.19C3.65 3 3 3.24 3 3.99 3 13.28 10.73 21 20.01 21c.71 0 .99-.63.99-1.18v-3.45c0-.54-.45-.99-.99-.99z"
            >
            </path>
        </svg>
    </a>
    -->
</Layout>
<style>
    .fadeIn {
        opacity: 0;
        visibility: hidden;
        animation: 5s fadeIn forwards;
        animation-fill-mode: forwards;
    }

    @keyframes fadeIn {
        0% {
            visibility: hidden;
        }
        90% {
            visibility: visible;
            opacity: 0;
        }
        100% {
            visibility: visible;
            opacity: 1;
        }
    }

    .table :where(th, td) {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    /* Автоматическое чередование цветов секций */
    :global(main section:nth-child(2n+1):not(.image-only)) {
        background-color: hsl(var(--nc));
    }
    
    :global(main section:nth-child(2n+1):not(.image-only).dark) {
        background-color: hsl(var(--n));
    }
</style>
